<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>

<body>
<%= render "layouts/header"%>

<div id="main-content" class="row full-min-height">
  <%= yield %>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <p>© DuoDuoStore 2016</p>
  </div>
</footer>
<%= javascript_include_tag :defaults %>
</body>
</html>